@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Light"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf)
      format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semilight"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf)
      format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf)
      format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Bold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf)
      format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semibold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf)
      format("truetype");
  font-weight: 700;
}

// Varibles

$black: #03042B;
$white: #FFFFFF;
$blue: #0006F5;
$orange: #C15A5A;


@mixin centre($axis: "both"){
	position:absolute;
	@if $axis == "y"{
		top:50%;
    transform: translateY(-50%);
	}
	@if $axis == "x"{
		left:50%;
    transform: translateX(-50%);
	}
	@if $axis == "both"{
		top:50%;
		left:50%;
    transform: translate(-50%, -50%);
	}	
}

@mixin placeholder {
  ::placeholder {@content}
}

@include placeholder {          
  text-indent: 10px;
  font-weight: 100;
}


.base-container {
  @include centre;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 560px;
  
  
  .errmsg-container {
    width:100%;
    position: relative;
    
    .errmsg{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 96px;
      background: $orange 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 5px;
      font: normal normal normal 24px/32px Segoe UI;
      color: $white;
      opacity: 0;
    }
    .errmsg-show {
      opacity: 1;
      transition: 0.25s ease-in-out;
    }

  }
  

  .logo {
    font: normal normal normal 96px/99px OCR A;
  }

  .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 16px;

    .form {
      
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: relative;
        
        label {
          font-size: 16px;
        }
        input {
          margin-top: 6px;
          width: 100%;
          height: 60px;
          padding: 0px;
          font-size: 24px;
          font-family: "SegoeUI", sans-serif;
          border: solid 1px;
          border-radius: 5px;
          position: relative;
          transition: all 250ms ease-in-out;
          &:hover {
            //background-color: #ffffff;
            //box-shadow: 0px 0px 14px 0.3px #0e81ce96;
          }

            &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
          }

          
        }

        
      
        
      }
      .form-group:nth-of-type(2) {
        position: relative;
        
        .password-icon{
          position: absolute;
          right: 16px; 
          bottom: 20px;
          font-size: 24px;
          cursor: pointer;
        }
        
      }

      .not-remember{
        align-content: center;
        font: normal normal normal 20px/27px Segoe UI;
        right: 0px;
        margin: 0 0 0 auto;
        top: 0px;
        text-decoration: none;
        letter-spacing: 0px;
        color: $blue; 
      }


    }
  }
  .footer {
    margin-top: 3em;
    flex-direction: row;
    width: 100%;
    font: normal normal normal 24px/24px Segoe UI;
    display: flex;
    flex-direction: column;

    button {
      height: 60px;
      font: normal normal normal 20px/27px Segoe UI;
      letter-spacing: 0px;
      color: #03042B;
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      outline: solid 1px;
      margin-bottom: 32px;
      cursor: pointer;
      border-radius: 5px;
        &:hover{
          background-color: $black;
          color: $white;
        }
      }

    button:first-of-type {
      letter-spacing: 0px;
      color: $white;
      background-color: $blue;
      &:hover{
        background-color: $black;
      }
    }
  }
}